/*CSS FILE*/
h1 {
  color: rgb(0, 0, 130);
  font-family: sans-serif;
}
h2 {
  size: 7em;
}
ul {
  font-family: sans-serif;
  margin-bottom: -0.5em;
}
ul.appet {
  color: rgb(0, 0, 130);
}
ul.salad {
  color: rgb(0, 130, 0);
}
ul.entree {
  color: rgb(130, 0, 130);
}
ul.dessert {
  color: rgb(130, 0, 130);
}
p {
 color: rgb(0, 0, 0); 
}
p.price {
  font-style: italic;
}
