/*CSS FILE*/
h1 {
  color: rgb(0, 0, 200);
  background-color: rgb(200, 200, 220);
  font-family: sans-serif;
  text-align: center;
  padding: (1em, 1em, 1em, 1em);
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
ul {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: -0.5em;
}
ul.appet {
  color: rgb(0, 0, 130);
}
ul.salad {
  color: rgb(0, 130, 0);
}
ul.entree {
  color: rgb(130, 0, 130);
}
ul.dessert {
  color: rgb(130, 0, 130);
}
p {
 color: rgb(0, 0, 0); 
 text-align: center;
}
p.price {
  font-style: italic;
}
