h1, h2, h3, h4, p, ul, ol, li, img {margin: 0; padding:0; font-size: 1em; font-weight: normal;}

body {
    background-color: #fafafa;
    font-family: 'atten-new', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

h1, h2, h3, p {
    color: #333333;
}

h1 {
    font-size: 2.5em;
    font-family: 'linotype-didot', serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 1.75em;
    font-family: 'century-gothic', sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-size: 1.5em;
    font-family: 'century-gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-bottom: 0.5em;
    font-family: 'century-gothic', sans-serif;
    font-weight: 300;
    font-style: normal;
}

img {
    width: 300px;
}



